{% extends "blog/base.html" %}



<style> 
    .form-div{
        margin-top: 10px;
        border-bottom-left-radius: 5px;
    }
    
    .user_form{
        margin: 200px 200px 200px 200px;
    }
    #blubb{
        margin-top: 300px;
    }
</style>


{% block content %}

<div class=" form-div container border-bottom border-left">
    <form method="POST">
        <!-- requiered: setting token for safe sending-->
            {% csrf_token %}
        <div class="form-group" id="blubb">
            <label class ="user_login_label" for="User">Username:</label>
            <input class="user_login_input" type="User" class="form-control" placeholder="Enter your Username..." id="user">
        </div>
        <div class="form-group">
            <label class ="pwd_login_label" for="password">Password:</label>
            <inputclass ="pwd_login_label" type="password" class="form-control" placeholder="Enter your password..." id="pwd">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <div class="form-group form-button">
            <button type="submit" class="btn btn-primary" >Submit</button>
            <button class="btn btn-primary" style="float: right;" href="{% url 'blog-Register' %}">Already have an Account</button> 
        </div>      
    </form> 
</div>
{%endblock content%}